/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url("../images/cover-image.png");
  --bg-color: #000028;
  --accent-color: #FF0070;
  --focus-color: #db00ff;
  --hover-color: rgb(255, 0, 112, 0.4);
  --txt-accent-color: #000028;
  --text-color: #F1B2CE;
}

.theme-dark .page {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.theme-dark .header__decoration {
  visibility: visible;
}