/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.header {
  display: grid;
  height: 1vh;
  min-height: 668px;
  margin: var(--header-margin);
}
