/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size-main);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
  min-height: 668px;
  padding: var(--header-padding);
  align-content: start;
}

.header::before,
.footer::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-right: 1px var(--accent-color) solid;
  border-top: 1px var(--accent-color) solid;
  right: 10px;
  top: 10px;
}

.header::after,
.footer::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-left: 1px var(--accent-color) solid;
  border-bottom: 1px var(--accent-color) solid;
  left: 10px;
  bottom: 10px;
}

.header__decoration {
  position: relative;
  line-height: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
  grid-row: 1;
  justify-self: end;
  align-self: start;
  margin-right: 28px;
}

.header__decoration::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 42px;
  background-color: var(--accent-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__middle {
  grid-row: 2;
  align-self: start;
  display: grid;
  gap: clamp(65px, 10vh, 120px);
}

.header__theme-menu {
  justify-self: end;
  align-self: flex-end;
  margin-top: clamp(40px, 6vh, 80px);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px transparent solid;
  text-transform: lowercase;
  color: var(--accent-color);
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px var(--hover-color) solid;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px var(--accent-color) solid;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--focus-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: bold;
  align-self: start;
  justify-self: start;
  margin-top: 0;
}

.header__subtitle {
  color: var(--txt-accent-color);
  padding-right: 20px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--accent-color);
  grid-row: 3;
  align-self: center;
  justify-self: end;
  margin: clamp(55px, 8vh, 100px) 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: var(--main-padding);
  line-height: 23.4px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--accent-color);
  font-size: inherit;
  font-weight: 700;
}

.section__content {
  display: grid;
  gap: 10px;
}

.section__content-title {
  font-size: inherit;
  font-weight: 700;
  color: var(--txt-accent-color);
  background-color: var(--accent-color);
}

.section__content-link {
  text-decoration: none;
  text-shadow: 1px 1px 1px var(--accent-color);
}

.section__content-link:hover {
  border-bottom: 1px var(--text-color) solid;
}

.section__content-link:focus {
  outline: none;
}

.section__content-link:focus-visible {
  border: 1px solid var(--text-color);
}

.title-thin {
  font-weight: 400;
}

.main__section.section-pictures {
  gap: var(--header-padding);
}

.section-pictures img {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  justify-content: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--focus-color);
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-color)
}


