/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url("../images/cover-image.png");
  --bg-color: #000028;
  --header-padding: 10px;
  --page-font: "IBM Plex Mono";
  --accent-color: #FF0070;
  --focus-color: #db00ff;
  --hover-color: rgb(255, 0, 112, 0.4);
  --txt-accent-color: #000028;
  --text-color: #F1B2CE;
  --font-size-main: 18px;
  --main-padding: 40px 10px;
}
